.Logo-container{
  position: fixed;
  color: #40a9ff;
  z-index: 2;
  height: 50px;
  width: 130px;
  border-radius: 5px;
  text-align: center;
  left:10px;
  visibility: hidden;
}

.Logo-container h1{
  padding: 0;
  margin-top: 15px;
}

.Banner-container{
  height: 60px;
  width: calc(100% - 10px);
  padding: 20px 0px 12px 10px;
  background-color:white;
  text-align: left;
  border-bottom: 3px solid #ccc;
}

.Main-container{
  box-sizing: border-box;
  height: 380px;
  width: 66%;
  padding:  10px 10px 10px 5px;
  background: lightgrey;
  float:right;
}

.Feed-container{
  box-sizing: border-box;
  height:380px;
  width: 34%;
  padding: 10px 5px 10px 10px;
  background: lightgrey;
  overflow:scroll;
}

.Blocks-container{
  box-sizing: border-box;
  height: 600px;
  padding: 10px;
  background: lightgrey;
}

.Page-container{
  height: 100%;
}

.Query-Container{
  padding: 20px;
}

.Main-inside{
  padding: 20px;
  text-align: center;
}

.Main-inside p {
  margin-top: 30px;
  color: grey;
}

.Connected-button {
  position: fixed;
  bottom: 0;
  right: 0;
}

.Logo {
  text-align: center;
  text-transform: uppercase;
  padding-top: 10%;
}

.error {
  color: red;
}

#lego {
  margin-left: 20px;
  margin-top: 0px;
}