.Logo-container{
  position: fixed;
  color: #40a9ff;
  z-index: 2;
  height: 50px;
  width: 130px;
  border-radius: 5px;
  text-align: center;
  left:10px;
  visibility: hidden;
}

.Logo-container h1{
  padding: 0;
  margin-top: 15px;
}

.Assets-container{
  height: auto;
  width: calc(100% - 30px);
  padding: 20px 0px 12px 10px;
  margin:10px;
  background-color: lightgrey;
  text-align: left;
}

.Asset{
  margin:10px;
  border: 1px solid #ccc;
  padding:10px;
  border-radius:10px;
}

.AssetText{
  float:left;
  margin-left:10px;
}

.App {
  background-color: lightgrey;
}

.Banner-container{
  height: 60px;
  width: calc(100% - 10px);
  padding: 20px 0px 12px 10px;
  background-color:white;
  text-align: left;
  border-bottom: 3px solid #ccc;
}

.Main-container{
  box-sizing: border-box;
  height: 380px;
  width: 66%;
  padding:  10px 10px 10px 5px;
  background: lightgrey;
  float:right;
}

.Feed-container{
  box-sizing: border-box;
  height:380px;
  width: 34%;
  padding: 10px 5px 10px 10px;
  background: lightgrey;
}

.Blocks-container{
  box-sizing: border-box;
  height: 600px;
  padding: 10px;
  background: lightgrey;
}

.Page-container{
  height: 100%;
}

.Query-Container{
  padding: 20px;
}

.Main-inside{
  padding: 20px;
  text-align: center;
}

.Main-inside p {
  margin-top: 30px;
  color: grey;
}

.Connected-button {
  position: fixed;
  bottom: 0;
  right: 0;
}

.Logo {
  text-align: center;
  text-transform: uppercase;
  padding-top: 10%;
}

.error {
  color: red;
}

#lego {
  margin-left: 20px;
  margin-top: 0px;
}

@media all and (max-width: 700px) {
  .Main-container{
    box-sizing: border-box;
    height: 380px;
    width: 100%;
    padding:  10px 10px 10px 5px;
    background: lightgrey;
    float:right;
  }

  .Feed-container{
    box-sizing: border-box;
    height:380px;
    width: 100%;
    clear:both;
    padding: 10px 5px 10px 10px;
    background: lightgrey;
  }

  .Blocks-container{
    box-sizing: border-box;
    height: 600px;
    width:100%;
    padding: 10px;
    background: lightgrey;
    clear:both;
  }

  #root > div > div.Main-container > div > form > h1{
    font-size:20px;
  }

  #root > div > div.Main-container > div > div.Main-inside > h1{
    font-size:20px;
  }

  

  #root > div > div.Main-container > div > div > div > div > div > div > button{
    width:20%;
    padding:0px;
    margin-right:0px;
  }

  #root > div > div.Main-container > div > div > div > div > div > div {
    justify-content: left;
  }
  #root > div > div.Main-container > div > div > div > div > div > div > button > span.MuiTab-wrapper-52 > span > span{
    font-size:10px;
  }



  #root > div > div.Blocks-container > div > ul > li{
    width: 100% !important;
    overflow:scroll;
  }

  #root > div > div.Main-container{
    height: auto;
  }
}

#root > div > div.Blocks-container > div > ul > li > div > div > div{
  overflow:scroll;
}

